# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs & caches
*.log
*.tmp
*.cache/
.pytest_cache/

# Coverage reports
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

